* {
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
    background-color: #f7f2ec;
}

/* cabeçalho da pagina */
nav {
  background-color: #efe9e4!important;
  border-bottom: rgb(219, 207, 207) solid 1px !important;
  padding: 24px !important;
  justify-content: flex-end;
}

.navbar-toggler {
    border: none;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent!important;
}

.navbar img{
    height: 24px;
    background-color: transparent;
}

.navbar button {
    border: none;
}

#menu img {
    background-color: #1b1b1b;
}
#menu {
    
    padding-left: 150px;
}






